/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 @import url('https://pro.fontawesome.com/releases/v5.15.1/css/all.css');

 #sortable li {
     display: flex;
     justify-content: space-between;
     background-color: #f3f5f6;
     padding: 5px 10px;
     color: #0071a1;
     cursor: grab;
 }

 #sortable li:active {
   cursor: grabbing;
 }

 #sortable li p {
     margin: 0;
 }

 #sortable li i {
    font-size: 16px;
   
 }

 #sortable li .buttons a:first-child {
    margin-right: 10px;
    
 }

 #sortable li.addpage {
    text-align: center;
    font-size: 20px;
    justify-content: center;
 }